/* geral da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, 'Helvetica', sans-serif;
    line-height: 1.6;
}

header {
    background-color: #fff;
    color: #201C3F;
    padding: 20px 0;
    display: flex;
}

/* logo da navbar */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}

/* botoes da navbar */
.botoes-nav {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.botoes-nav a#inicio{
    text-decoration: none;
    color: #201C3F;
    padding: 10px 15px;
    border: 1px solid #201C3F;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.botoes-nav a#inicio:hover {
    background-color: #201C3F;
    color: #fff;
}

.botoes-nav a#conta {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
    background-color: #201C3F;
}

.botoes-nav a#conta:hover {
    background-color: #fff;
    border: 1px solid #201C3F;
    color: #201C3F;
}

/* textinhos h1 e p*/
main h1{
    text-align: left;
    margin: 20px;
    color: #201C3F;
    font-size: 2.5rem;
    font-weight: bold;
}

main p{
    text-align: left;
    margin: 20px;
    color: #201C3F;
    font-size: 1.2rem;
}

/* novo projeto */
#botao-novo-projeto {
    display: flex;
    align-items: center;
    margin: 20px;
    background-color: #DFECE2;
    border-radius: 10px;
    text-decoration: none;
}

.novo-projeto {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.novo-projeto img {
    margin-right: 15px;
    margin-left: 15px;
}

.novo-projeto h5 {
    color: #201C3F;
    font-size: 1.5rem;
}

.projeto {
    display: flex;
    flex-direction: column;   /* organiza título, empresa, link e data em coluna */
    justify-content: center;
    margin: 20px;
    padding: 15px 20px;
    background-color: #DFECE2;
    border-radius: 10px;
    text-decoration: none;
    color: #201C3F;
    font-family: Arial, Helvetica, sans-serif;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


/* título */
.projeto h2 {
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: #201C3F;
}

/* parágrafos */
.projeto p {
    margin: 4px 0;
    font-size: 1rem;
    color: #333;
}

/* link "Abrir Auditoria" */
.projeto a {
    display: inline-block;
    margin: 10px 0;
    padding: 8px 12px;
    background-color: #201C3F;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    font-size: 0.95rem;
    transition: background-color 0.2s ease;
}

.projeto a:hover {
    background-color: #3b3669;
}

/* footerzinho */
footer {
    background-color: #201C3F;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

